  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
#prog-wrp {
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
    border: 1px solid #00a114;
    padding: 1px;
    margin: 10px;
    text-align: left;
    position: relative;
    height: 30px;
    border-radius: 3px; 
  }
  
  #prog-wrp .prog-bar {
    height: 100%;
    border-radius: 3px;
    background-color: #9adef3;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
  }
  
  #prog-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
  }

  
  
  h1 {
    color: #130f40;
    font-family: cursive;
    letter-spacing: -0.5px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  
  .up-container {
    background-color: grey;
    border-radius: 6px;
    padding: 10px;
  }
  
  .bdr-container {
    border: 5px dotted rgb(255 255 255 / 65%);
    border-radius: 2px;
    padding: 30px;
  }
  
  .bdr-container p {
    color: #130f40;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 0;
    opacity: 0.65;
  }

  .bg-color{
    padding: 10px;
  }